@charset "utf-8";

/* CSS reset for just our elements */
.dropbox-share-folder a, .dropbox-share-folder abbr, .dropbox-share-folder acronym, .dropbox-share-folder address, .dropbox-share-folder applet, .dropbox-share-folder b, .dropbox-share-folder big, .dropbox-share-folder blockquote, .dropbox-share-folder body, .dropbox-share-folder caption, .dropbox-share-folder center, .dropbox-share-folder cite, .dropbox-share-folder code, .dropbox-share-folder dd, .dropbox-share-folder del, .dropbox-share-folder dfn, .dropbox-share-folder div, .dropbox-share-folder dl, .dropbox-share-folder dt, .dropbox-share-folder em, .dropbox-share-folder fieldset, .dropbox-share-folder font, .dropbox-share-folder form, .dropbox-share-folder h1, .dropbox-share-folder h2, .dropbox-share-folder h3, .dropbox-share-folder h4, .dropbox-share-folder h5, .dropbox-share-folder h6, .dropbox-share-folder html, .dropbox-share-folder i, .dropbox-share-folderiframe, .dropbox-share-folder img, .dropbox-share-folder ins, .dropbox-share-folder kbd, .dropbox-share-folder label, .dropbox-share-folder legend, .dropbox-share-folder li, .dropbox-share-folder object, .dropbox-share-folder ol, .dropbox-share-folder p, .dropbox-share-folder pre, .dropbox-share-folder q, .dropbox-share-folder s, .dropbox-share-folder samp, .dropbox-share-folder small, .dropbox-share-folder span, .dropbox-share-folder strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, .dropbox-share-folder ul, .dropbox-share-folder var {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

.dropbox-share-folder blockquote, .dropbox-share-folder q {
    quotes: none
}

.dropbox-share-folder {
    background: #fff;
    color: #000;
    line-height: 1
}

.dropbox-share-folder del {
    text-decoration: line-through
}

.dropbox-share-folder :focus {
    outline: 0
}

.dropbox-share-folder ins {
    text-decoration: none
}

.dropbox-share-folder ol, ul {
    list-style: none
}

.dropbox-share-folder table {
    border-collapse: collapse;
    border-spacing: 0
}

.dropbox-share-folder td {
    vertical-align: top
}
