@charset "utf-8";

/*
 * Indicate a selected file or folder
 */
.dropbox-share-did span.fancytree-active span.fancytree-title {
    background: #000;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dropbox-share-did ul.fancytree-container {
    border: 0;
    border-color: transparent;
    background-color: transparent;
}

.dropbox-share-did li[data=dropbox-share-thumb-wrapper] .fancytree-title {
    padding: 0;
    margin: 0;
}

.dropbox-share-did li[data=dropbox-share-thumb-wrapper] .fancytree-custom-icon.fa.fa-picture-o {
    display: none;
}

.dropbox-share-did li[data=dropbox-share-thumb-wrapper] .inner-title {
    padding-left: 10px;
}

.dropbox-share-did .dropbox-share-did-root {
    cursor: pointer;
    padding-bottom: 10px;
}
.dropbox-share-did .dropbox-share-did-root i {
    padding-right: 10px;
}

.context-menu-list {
    max-width: 350px;
}

.dropbox-share-colorbox .dropbox-share-download-link {
    right: 35px;
    position: absolute;
}

.dropbox-share-colorbox #cboxTitle {
    bottom: 0px;
}

.dropbox-share-colorbox #dropbox-share-video-container .video-js {
    position: relative !important;
    width: 100% !important;
    /*height: auto !important;*/
}

.dropbox-share-colorbox #dropbox-share-video-container .vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}